<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>web_test1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>web_01</servlet-name>
    <servlet-class>web_01.web_01</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>web_01</servlet-name>
    <url-pattern>/web_01</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>web_02</servlet-name>
    <servlet-class>web_01.web_02</servlet-class>
    <init-param>
      <param-name>username</param-name>
      <param-value>corrine</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>0616</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>web_02</servlet-name>
    <url-pattern>/web_02</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>username</param-name>
    <param-value>Corrine</param-value>
  </context-param>
  <context-param>
    <param-name>password</param-name>
    <param-value>19970616</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>web</display-name>
    <servlet-name>web</servlet-name>
    <servlet-class>web_01.web</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>web</servlet-name>
    <url-pattern>/web</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>web_02yanshi</display-name>
    <servlet-name>web_02yanshi</servlet-name>
    <servlet-class>web_01.web_02yanshi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>web_02yanshi</servlet-name>
    <url-pattern>/web_02yanshi</url-pattern>
  </servlet-mapping>
</web-app>